<header>

	<h1>Le forum du Docteur Love</h1>

	<ul class="connect">
		<li id="login">Login</li>
		<li id="inscription">Inscription</li>
		<li id="logout">Logout</li>
	</ul>

	<div id="zonemodif">

		Connectez-vous
		
	</div>

</header>

<section>
	
	<?php include "controllers/themes.php"; ?>

</section>

<div id="contenu">
	

</div>

<aside id="pub">
	


</aside>

<footer>

	<ul>

		<li>
			<a href="mailto:webmaster@lentremetteur.com">Contacter Le Webmaster</a>
		</li>
		<li>
			Règles du forum
		</li>
		<li>
			Copyright Brian, Christophe, Julie, Laurence, Loic
		</li>	

	</ul>


</footer>
