<table >

	<form id="newpost" method="post" action="controllers/formulaire.php?newpost">
		
	<tr>
		<td colspan="3"><strong>Nouveau Message</strong></td>
	</tr>

	
		<input name="iduser" type="hidden" id="iduser">
		<input name="idsujet" type="hidden" id="idtsujet">
	
	<tr>
		<td colspan="3"><texteara name="message" id="message">Post</textarea></td>
	</tr>


	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><input type="submit" name="envoyer2" id="envoyer2" value="Envoyer"></td>
	</tr>
			
		
	</form>
	
</table>